@import url("https://fonts.google.com/specimen/Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  font-size: 16px;
  background-color: hsl(0, 100%, 74%);
  background-repeat: no-repeat;
  background-position: center;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-link {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  display: flex;
  border-radius: 16px;
  padding: 8px 12px;
  position: relative;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.content {
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: white;
}

.items1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-right: 10px;
}

.item1,
h1 {
  font-weight: 700;
  color: white;
  width: 80%;
  padding: 0%;
  margin-left: 20%;
  margin-right: 30%;
  line-height: 1.2em;
}

.item1,
p {
  font-weight: 500;
  color: white;
  margin-left: 17%;
  margin-right: 20%;
  padding: 15px;
  width: 90%;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
}

.item2 {
  flex-direction: column;
  flex: 50%;
}

.heading {
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  width: 110%;
  color: white;
  text-align: center;
  margin-top: 10%;
}

.heading p {
  width: fit-content;
  padding: 1%
}



.container {
  background-color: white;
  border-radius: 12px;
  padding: 5%;
  width: 110%;
  margin-right: 40%;
}



form input {
  width: 100%;
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

.button-1 {
  background-color: hsl(154, 59%, 51%);
  padding: 15px;
  margin: 5px;
  border-radius: 4px;
  color: white;
  width: 100%;
  border: none;
  font-weight: 700;
}

.bottom-1 {
  text-align: center;
  color: hsl(246, 25%, 77%);
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-weight: 700;
  padding-left: 5%;
}

.footer-1 {
  color: black;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  margin-right: 100%;
}

.footer-1,
a {
  text-decoration: none;
  font-weight: 500;
}

::placeholder {
  color: black;
  font-weight: bold;
}

.span-1 {
  font-weight: 700;
}

.span-2 {
  color: red;
  font-weight: bold;
}

.error {
  font-size: 11px;
  opacity: 70%;
  font-weight: 600;
  font-style: italic;
  color: hsl(0, 100%, 61%);
  line-height: 1%;

}


input:invalid {
  border-color: hsl(0, 100%, 74%);
  background-image: url(icon-error.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}


input:required {
  border-color: hsl(0, 100%, 74%);
  font-weight: bold;
}


input:focus::placeholder {
  color: transparent;
}

input:valid:.error {
  visibility: hidden;
}

@media (max-width: 1440px) {

  .content {
    background-image: url(bg-intro-desktop.png);
    flex-direction: row;
    background-color: hsl(0, 100%, 74%);
    max-width: 1440px;
    margin-right: 10%;
  }

}

@media (max-width: 375px) {

  .content {
    background-image: url(bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    flex-direction: column;
    max-width: 375px;
  }

}